@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #05060a;
}

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

@page {
  size: portrait;
  margin: 0;
}

@media print {
  html,
  body {
    background: #05060a !important;
  }

  body {
    margin: 0;
    overflow: hidden;
  }

  .poster-shell {
    break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
  }
}
